@charset "utf-8";

/* VISUAL-S */
.visual{width:100%; height:334px; min-width:1176px;
    background-repeat:no-repeat; background-position:center center
}
.visual div{width:1176px; margin:0 auto; height:334px; padding-top:193px; box-sizing:border-box;
    text-align:center; color:#fff
}
.visual strong{display:block; margin-bottom:15px;
    font-size:30px; font-weight:800; line-height:36px
}
.visual p{opacity:0.5;
    line-height:20px
}
/* VISUAL-E */
/* LNB-S */
.lnb{width:100%; min-width:1176px; height:50px; margin-bottom:26px;
    background-color:#fff;
    border-bottom:1px solid #e1e1e1;
    position:relative
}
.lnb-logo{display:none; width:120px; height:16px;
    position:absolute;
    left:40px; top:50%;
    transform:translateY(-50%)
}
.lnb-logo a{display:block; width:100%; height:16px; 
    text-indent:-9999px;
    background:url(./../images/lnb_logo.png)
}
.lnb>ul{width:1176px; height:51px; margin:0 auto; box-sizing:border-box;
    text-align:center; font-size:0
}
.lnb>ul>li{display:inline-block;
    position:relative
}
.lnb>ul>li+li::before{content:""; width:1px; height:18px;
    background-color:#e1e1e1;
    position:absolute; left:0; top:16px
}
.lnb>ul>li>a{display:inline-block; height:51px; padding:0 50px;
    color:#333; font-size:16px; line-height:50px;
    position:relative
}
.lnb>ul>li.on>a{color:#0168b7}
.lnb>ul>li.on a::before{transform:scaleX(1)}
.lnb>ul>li:hover>a{color:#0168b7}
.lnb>ul>li:hover a::before{transform:scaleX(1)}
.lnb>ul>li>a::before{content:""; width:100%; height:3px; 
    background-color:#0068b7;
    position:absolute; left:0; bottom:0; 
    transform:scaleX(0); transition:all 0.4s
}
.lnb>ul>li.lnb-arrow>a::after{content:""; display:inline-block; width:9px; height:5px; margin-left:9px;
    background-image:url(./../images/lnb-arrow.png)
}
.lnb>ul>li.lnb-arrow:hover>a::after{
    background-image:url(./../images/lnb-arrow-on.png)
}
.lnb ul ul{display:none; width:100%; box-sizing:border-box; padding:20px 19px;
    background-color:#fff;
    border: 1px solid #e1e1e1; border-top:0;
    position:absolute; left:0; top:51px; z-index:10
}
.lnb ul ul li+li{margin-top:12px}
.lnb ul ul a{display:block; width:100%; 
    font-size:15px; line-height:18px; color:#767676
}
.lnb ul ul a:hover{color:#0168b7}
.lnb ul li:hover ul{display:block}
/* LNB-E */
/* ::::::::::: MAIN-S ::::::::::: */
#main{overflow:hidden; min-width:1176px;
    position:relative
}
.top{width:60px; height:60px;
    text-indent:-9999px;
    position:fixed; bottom:30px; right:40px;
    background-image:url(./../images/subquick.png)
}
/* INNER-S */
.inner{width:1176px; margin:0 auto}
.path{height:20px; margin-bottom:22px;
    line-height:20px; font-size:15px; color:#767676; text-align:right
}
.path span::before{content:""; display:inline-block; width:4px; height:5px; margin:0 10px;
    vertical-align:2px;
    background-image:url(./../images/path_arrow.png)
}
.inner h2{margin-bottom:36px;
    text-align:center; font-size:36px; line-height:40px; font-weight:800
}
/* SEARCH-WRAP-S */
.search-wrap{height: 42px;
    text-align:center; font-size:0;
}
.search-wrap>div{display:inline-block}
.select{float:left; margin-right:5px;
    position:relative;
    text-align:left
}
.select>a{display:inline-block; width:121px; height:40px;
    line-height:40px; text-indent:5px; font-size:15px;
    border:1px solid #ccc
}
.select>a::after{content:""; display:inline-block; width:9px; height:5px; margin-left:75px;
    background-image:url(./../images/lnb-arrow.png)
}
.select ul{display:none; width:121px; height:90px;
    border:1px solid #ccc; border-top:0;
    background-color:#fff;
    position:absolute; left:0; top:42px; z-index:10
}
.select li{width:100%; height:30px;
    line-height:30px; font-size:15px; text-indent:5px
}
.select li a{display:block; width:100%}
.select li.active{background-color:#0168b7}
.select:hover ul{display:block}
.search-wrap form{float:left; height:42px}
.search-wrap label{display:none}
.search-wrap input{width: 248px; height:40px; margin-right:5px;
    vertical-align:top
}
.search-wrap button{height:42px; cursor:pointer;
    font-size:15px
}
.search-wrap button:nth-of-type(1){width:82px; margin-right:5px;
    background-color:#5d5d5d;
    color:#fff
}
.search-wrap button:nth-of-type(2){width:42px;
    background-image:url(./../images/sub-05-re.gif);
    text-indent:-9999px
}
/* SEARCH-WRAP-E */
/* PAGE-S */
.page{text-align:center}
.page ul{display:inline-block; 
    font-size:0
}
.page li{float:left}
.page li:nth-child(3){margin:0 20px 0 15px}
.page a{display:inline-block; width:36px; height:35px; margin-right:5px; box-sizing:border-box;
    text-indent:-9999px
}
.page li:nth-child(1) a{background-image:url(./../images/product-first.gif)}
.page li:nth-child(2) a{background-image:url(./../images/product-prev.gif)}
.page li:nth-child(3) a{margin-right:0;
    font-weight:700; text-align:center; line-height:33px; font-size:15px; text-indent:0; color:#666;
    background-color:#fff;
    border:1px solid #fff
}
.page li:nth-child(4) a{background-image:url(./../images/product-next.gif)}
.page li:nth-child(5) a{margin-right:0;
    background-image:url(./../images/product-last.gif)
}
.page li:nth-child(3) a.active{color:#0168b7;
    border:1px solid #0168b7
}
/* PAGE-E */
/* INNER-E */
/* ::::::::::: MAIN-E ::::::::::: */