@charset "utf-8";

/* VISUAL-S */
.visual{background-image:url(/../images/sub02-banner.jpg)}
/* VISUAL-E */
/* ::::::::::: MAIN-S ::::::::::: */
/* INNER-S */
/* CATEGORY-S */
.category{margin-bottom:40px}
.category-list{width:1176px; box-sizing:border-box; margin-bottom:10px;
    border:1px solid #474a4d; border-top:0; border-bottom:0;
    position:relative
}
.category-list>li{float:left; width:293.5px; height:50px; box-sizing:border-box;
    line-height:48px; color:#fff; font-weight:700;
    background-color:#5b5f63;
    border:1px solid #474a4d; border-left:0
}
.category-list>li:nth-child(n+1):nth-child(-n+4){margin-bottom:50px}
.category-list>li:nth-child(4n){border-right:0}
.category-list>li>a{display:block; width:100%; height:100%;
    text-align:center
}
.category-list>li:hover{background-color:#fff;
    color:#0168b7
}
.category-list ul{display:none; width:1174px; height:50px;
    font-size:0;
    position:absolute; left:0; top:50px
}
.category-list ul li{display:inline-block;
    position:relative
}
.category-list ul li+li::before{content:""; width:1px; height:13px;
    background-color:#e1e1e1;
    position:absolute; left:10px; top:18px
}
.category-list ul a{display:block; width:100%; height:50px; padding:0 20px;
    font-size:15px; color:#555; text-indent:20px; line-height:50px
}
.category-list>li.active{background-color:#fff;
    color:#0168b7;
    border-bottom:0
}
.category-list>li.active ul{display:block}
.category-list ul li.active a{color:#0168b7; font-weight:700}
.category-slide{margin-bottom:10px;
    border-bottom:1px solid #e1e1e1
}
.swiper-slide a::before{content:""; display:block; width:148px; height:120px; margin:0 auto 10px}
.category-img01 a::before{background-image:url(/../images/category01.jpg)}
.category-img02 a::before{background-image:url(/../images/category02.jpg)}
.category-img03 a::before{background-image:url(/../images/category03.jpg)}
.category-img04 a::before{background-image:url(/../images/category04.jpg)}
.category-img05 a::before{background-image:url(/../images/category05.jpg)}
.category-img06 a::before{background-image:url(/../images/category06.jpg)}
.category-img07 a::before{background-image:url(/../images/category07.jpg)}
.category-img08 a::before{background-image:url(/../images/category08.jpg)}
.category-img09 a::before{background-image:url(/../images/category09.jpg)}
.swiper-slide a{display:block; width:168px; height:192px;
    text-align:center; font-size:15px; color:#767676; line-height:20px;
    position:relative
}
.swiper-slide a span{display:block;
    font-size:16px; color:#333; line-height:26px
}
.swiper-slide.active a{color:#0168b7;
    border-bottom:2px solid #0168b7
}
.swiper-slide.active a span{color:#0168b7}
.swiper-slide:hover a{color:#0168b7;
    border-bottom:2px solid #0168b7
}
.swiper-slide:hover a span{color:#0168b7; font-weight:700}
.slide-button{width:1176px;
    position:absolute; left:50%; top:50%; z-index:10;
    transform:translate(-50%,-50%)
}
.category-next,
.category-prev {
    width: 40px; height: 40px; cursor:pointer;
    position:absolute; top:50%;
    transform:translateY(-50%)
}
.category-prev{left:0;  
    background-image:url(/../images/category-prev.gif)
}
.category-next{right:0;
    background-image:url(/../images/category-next.gif)
}
.more{float:right; width:150px; height:40px; box-sizing:border-box;
    border:1px solid #e1e1e1;
    text-align:center; line-height:38px; font-size:15px; color:#333
}
.more::before{content:""; display:inline-block; width:11px; height:11px;
    margin-right:10px;
    background-image:url(/../images/category-more.png);
    vertical-align:-1px
}
/* CATEGORY-E */
/* PRODUCT-S */
.product{margin-bottom:100px; padding-top:50px;
    position:relative
}
.product-btn{width:392px; height:50px; box-sizing:border-box;
    text-align:center; line-height:48px; color:#555;
    background-color:#fff;
    border:1px solid #d5d5d5;
    position:absolute; left:0; top:0
}
.product-list .product-btn{left:392px;
    border-left:0
}
.product-video .product-btn{left:784px;
    border-left:0
}
.product-btn.active{background-color:#0168b7;
    color:#fff; font-weight:700
}
.product-btn.active::before{content:""; width:10px; height:2px;
    background-color:#fff;
    position:absolute; top:50%; left:140px;
    transform:translateX(-50%)
}
.product-special>div{margin-top:85px}
.product-special h3{
    font-size:30px; color:#333; line-height:40px; text-align:center; font-weight:800
}
.product-special h3::after{content:""; display:block; width:50px; height:1px; margin:54px auto 37px;
    background-color:#6e6e6e
}
.product-special>div>strong{display:block; margin-bottom:23px;
    font-size:45px; line-height:54px; text-align:center; font-weight:700
}
.product-special>div>p{margin-bottom:50px;
    font-size:20px; line-height:26px; text-align:center
}
.product-special>div>p::after{content:""; display:block; width:100%;
height:655px; margin-top:53px;
    background-image:url(/../images/sub02-TOGO.jpg)
}
.product-special ul{padding:0 50px}
.product-special li{width:100%; height:358px}
.product-special li+li{margin-top:30px}
.product-special li div{float:left; padding-top:60px; width:510px; margin-right:56px}
.product-special li:nth-child(2) div{float:right; margin:0 0 0 56px}
.product-special li:nth-child(4) div{float:right; margin:0 0 0 56px}
.product-special li em{display:block; margin-bottom:20px; width:50px; height:50px; 
    font-size:30px; color:#fff; text-align:center; line-height:50px;
    background-color:#0168b7
}
.product-special li strong{display:block; margin-bottom:20px;
    line-height:35px; color:#333; font-size:30px
}
.product-special li p{line-height:26px; color:#555}
.product-special li span{color:#0168b7}
.product-special li figure{float:left}
.product-special li figure img{display:block; width:510px; height:358px}
.product-list>div{display:none; margin-top:20px}
.product-list p{margin-bottom:20px;
    text-align:right; line-height:20px; font-size:14px; color:#767676
}
.product-list p::before{content:""; width:16px; height:16px; display:inline-block;
    background-image:url(/../images/product-list.png);
    margin-right:10px;
    vertical-align:-3px
}
.product-list-wrap{margin-bottom:40px}
.product-list-wrap li{width:294px; height:329px; float:left; box-sizing:border-box;
    border:1px solid #fff;
    text-align:center; color:#767676; font-size:15px; line-height:20px;
    position:relative
}
.product-list-wrap li a{width:40px; height:40px; display:none;
    text-indent:-9999px;
    background-image:url(/../images/product-list-more.png);
    position:absolute; left:50%; top:50%;
    transform:translate(-50%,-50%)
}
.product-list-wrap span::before{content:""; display:block; width:240px; height:240px; margin:0 auto}
.product-list-wrap li:nth-child(1) span::before{background-image:url(/../images/TOGO01.jpg)}
.product-list-wrap li:nth-child(2) span::before{background-image:url(/../images/TOGO02.jpg)}
.product-list-wrap li:nth-child(3) span::before{background-image:url(/../images/TOGO03.jpg)}
.product-list-wrap li:nth-child(4) span::before{background-image:url(/../images/TOGO04.jpg)}
.product-list-wrap li:nth-child(5) span::before{background-image:url(/../images/TOGO05.jpg)}
.product-list-wrap li:nth-child(6) span::before{background-image:url(/../images/TOGO06.jpg)}
.product-list-wrap li:nth-child(7) span::before{background-image:url(/../images/TOGO07.jpg)}
.product-list-wrap li:nth-child(8) span::before{background-image:url(/../images/TOGO08.jpg)}
.product-list-wrap span{display:block; margin-bottom:7px;
    font-size:16px; line-height:22px; color:#333
}
.product-list-wrap li:hover{border:1px solid #0168b7}
.product-list-wrap li:hover a{display:block}
.product-video>div{display:none}
/* PRODUCT-E */
/* INNER-E */
/* ::::::::::: MAIN-E ::::::::::: */